*{
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}

.square {
    border: rgb(0,0,0,0.3) solid 1px ;
    transition: transform 150ms ease;
}

.square:hover{
    transform: scale(1.2);
    z-index: 1;
}

button {
    margin-block: 10px;
}

.new_grid {
    display: flex;
    align-items: center;
    gap: 5px
}

.new_grid input {
    width: 100px;
    height: 20px;
}